

.main-body {
    padding: 0px 0 5em 0;
}
h3.title-head {
    font-size: 2.5em;
    color: #3367D6;
    padding: 5px 10px 7px;
	text-transform: Capitalize;
}
.articles header {
    border-bottom: 1px solid #3367D6;
}
.articles {
    margin: 0.5em 0;
}
.article {
	border-bottom: 1px solid #eee;
    margin-top: 3.5em;
    padding-bottom: 3em;
}
.article:last-child {
    border: none;
}
.article-left {
    width: 20%;
    float: left;
    margin-right: 3%;
    margin-left: 10%;
}
.article-right {
    float: right;
    width: 60%;
}
.article-left img {
    width: 100%;
	opacity:0.8;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.article-left img:hover {
	opacity:1;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a.title {
    font-size: 1.9em;
    color: #000;
}
a.title:hover {
	color:#84754e;
}
.article-title p {
    color: #B5B3B3;
    font-size: 0.875em;
    font-style: italic;
    margin: 0.5em 0;
	text-transform: uppercase;
}
span.glyphicon.glyphicon-comment,span.glyphicon.glyphicon-eye-open,span.glyphicon.glyphicon-thumbs-up,.glyphicon.glyphicon-time {
    font-size: 10px;
    margin: 0 4px 0 20px;
}
a.span_link {
    color: #C5C5C5;
}
a.span_link:hover {
    color: #84754e;
}
.article-text p {
    color: #777;
    line-height: 2em;
    margin: 1.5em 0 0.8em 0;
    font-size: 0.95em;
}
.article-text a {
	font-size:1em;
	color:#000;
}
.article-text a {
    float: right;
}
.article-text a:hover {
	color:#000;
}
.article-left iframe {
	min-height:200px;
}
.life-style header {
    border-bottom: 1px solid #84754e;
    padding-bottom: 4px;
}
.life-style-left-grid {
	float:left;
	width:48%;
	margin-right:4%;
}
.life-style-left-grid img,.life-style-right-grid img {
	width:100%;
	margin-bottom: 1em;
}
.life-style-right-grid {
	float:left;
	width:48%;
}
.life-style-grids {
    margin-top: 2em;
}
