.page_section.hr {
    padding: 30px 0;
}

/* 自定义容器宽度 */
.container.w {
    width: 90%;
}

.jobdetail {
	display: none;
}

/*jobs*/
.jobs{
    margin-bottom: 0px
}
.jobs{
    margin-top: 50px
}
.table tr{

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.table tr.hide-jobs{
    display: none;
}
.table tr td h4{
    font-weight: 700;
    text-transform: capitalize;
}
.table tr td{
    padding:6px;
}
.table tr td h4 span{
    font-weight: 300;
    font-size: 14px
}
.table tr td p i{
    color: #00AEEF
}
.table tr td p{
    font-size: 13px
}
.table tr td a{
    color: #fff;
    background: #00AEEF;
    padding:12px 15px;
    border-radius: 5px;
    font-size: 13px;
    text-decoration: none;

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.table tr:hover td a{
    background: #0486B7
}
.table tr:hover td a:hover{
    background: #fff;
    color: #00AEEF
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    border-top: 0px;
    vertical-align: middle;
    padding: 15px
}
.table > tbody > tr > td.tbl-logo{
    padding-right: 0px
}
.table > tbody > tr > td.tbl-apply{
    padding-right: 10px;
    padding-left: 0px;
}
.table > tbody > tr > td.tbl-title{
    padding-left: 5px
}
.table tr.odd{
    background: #F9F9F9
}
.table tr.even{
    background: #F4FFFF
}
.table tr:hover{
    background: #00AEEF;
    color: #fff
}

.more-jobs{
    margin-top: 30px
}
.more-jobs a {
  background: none repeat scroll 0 0 #d1d1d1;
  color: #666666;
  padding: 14px 22px;
  border-radius: 2px;
  display: inline-block;
}
.more-jobs i{
    margin-right: 10px;
    font-size: 16px
}


.job-add{
    background: url(../../img/job-add.png);
    height: 500px;
}
.job-add h2 {
  color: #fff;
  font-size: 38px;
  font-weight: 800;
  margin: 0;
  padding: 305px 20px 0;
  text-transform: uppercase;
}
.job-add a {
  background: none repeat scroll 0 0 #00aeef;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  margin: 30px 0 0 20px;
  padding: 21px 55px;
  font-size: 15px;
}