
/*--//Typography --*/
/*-- services --*/
.case-contrainer {
	width: 100%;
	padding: 0px;
}
.services-grids{
	margin:3em 0 0;
}
.services-grid-left{
	padding: 3em 3em 5em;
    background: #EBEBEB;
	border-radius:25px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	-o-border-radius:25px;
	-ms-border-radius:25px;
}
.services-grid-left1{
	padding:2em;
	background:#fff;
}
.services-grid-left1 ul li{
	list-style-type: none;
    margin: 0 0 1em;
    background: url(../images/img-sp.png) no-repeat 0px -31px;
    display: inline-block;
    padding-left: 2.5em;
}
.services-grid-left1 ul li a{
	text-transform:capitalize;
	font-size:14px;
	color:#999;
	text-decoration:none;
}
.services-grid-left1 ul li a:hover{
	color:#02A0C3;
}
.services-grid-right1-left1{
	width:100px;
	height:100px;
	border:1px solid #f72459;
	border-radius:100%;
	text-align:center;
	margin:0;
}
.services-grid-right1-left1 span{
	font-size:1.5em;
	color:#f72459;
	top: 1.5em;
}
.services-grid-right1-right h4{
	color:#999;
	font-size:1.2em;
	margin:0;
	line-height:1.8em;
	text-transform: capitalize;
}
.services-grid-right1-right p{
	margin:1em 0;
	color:#999;
	line-height:1.8em;
	font-size:14px;
}
.services-grid-right {
    padding-left: 8em;
}
.more a{
	font-size:1em;
	color:#02a0c3;
	text-decoration:none;
}
.more a span{
	right:-1em;
}
.more a:hover{
	color:#f72459;
}
.services-grid-right1:nth-child(2){
	margin:4em 0;
}
.services-grid-right1:hover .services-grid-right1-left1{
	background:#f72459;
	transition:.5s ease-out;
}
.services-grid-right1:hover .services-grid-right1-left1 span{
	color:#fff;
}
.service-bottom{
	padding:10px 0 0;
}
.service-bottom-right{
	padding:0;
}
.service-bottom-right1{
	padding: 3.87em 3.5em;
    background: #F7F7F7;
}
.service-bottom-right1 h4{
	text-transform: capitalize;
    font-size: 1.5em;
    line-height: 1.6em;
    color: #999;
    margin: 0;
}
.service-bottom-right1 h4 span{
	display: block;
    color: #F72459;
    margin: .5em 0 0;
    font-size: .8em;
}
.service-bottom-right1 p{
	font-size:14px;
	color:#999;
	margin:1em 0 2em;
	line-height:1.8em;
}
/***** Moses *****/
/*-----------------*/

figure.effect-moses {
	background: -webkit-linear-gradient(-45deg, #EC65B7 0%,#05E0D8 100%);
	background: linear-gradient(-45deg, #EC65B7 0%,#05E0D8 100%);
}

figure.effect-moses img {
	opacity: 0.85;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-moses h2,
figure.effect-moses p {
	padding: 20px;
	width: 50%;
	height: 50%;
	border: 2px solid #fff;
	text-align: left;
}

figure.effect-moses h2 {
	padding: 20px;
	width: 50%;
	height: 50%;
	text-align: left;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(10px,10px,0);
	transform: translate3d(10px,10px,0);
}

figure.effect-moses p {
	float: right;
	padding: 20px;
	text-align: right;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

figure.effect-moses:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-moses:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	text-align: left;
}

figure.effect-moses:hover img {
	opacity: 0.6;
}

.active-list > li{
	padding: 20px;
}

.aboutus-corp , .aboutus-cultrue , .aboutus-zizhi{
	padding: 50px;
}



/*---------------*/
/*-- //services --*/
