/*jobs*/
.listrow{
    margin-bottom: 0px;
    margin-top: 50px
}

.list-table {
	width: 100%;
}

.list-table tr{

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    width: 100%;
    text-align: center;
}

.list-table tr td h4{
    font-weight: 700;
    text-transform: capitalize;
}
.list-table tr td{
    padding:6px;
}
.list-table tr td h4 span{
    font-weight: 300;
    font-size: 14px
}
.list-table tr td p i{
    color: #00AEEF
}
.list-table tr td p{
    font-size: 14px
}
.list-table tr td a{
    /*color: #fff;*/
    /*background: #00AEEF;*/
    padding:12px 15px;
    border-radius: 5px;
    font-size: 13px;
    text-decoration: none;

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.list-table tr:hover td a{
    /*background: #0486B7*/
}
.list-table tr:hover td a:hover{
    background: #fff;
    color: #00AEEF
}
.list-table > thead > tr > th, .list-table > tbody > tr > th, .list-table > tfoot > tr > th, .list-table > thead > tr > td, .list-table > tbody > tr > td, .list-table > tfoot > tr > td{
    border-top: 0px;
    vertical-align: middle;
    padding: 15px
}
.list-table > tbody > tr > td.tbl-logo{
    padding-right: 5px;
    width: 50px;
    height: 50px;
    width: 5%;
}
.list-table > tbody > tr > td.tbl-title{
    padding-left: 50px;
    width: 5%;
}
.list-table > tbody > tr > td.tbl-desc{
    padding-left: 5px;
    text-align: left;
    width: 90%;
}
.list-table > tbody > tr > td.tbl-address{
    padding-left: 5px;
    width: 20%;
}
.list-table > tbody > tr > td.tbl-number{
    padding-left: 5px;
    width: 5%;
}
.list-table > tbody > tr > td.tbl-price{
    padding-left: 5px;
    width: 5%;
}
.list-table > tbody > tr > td.tbl-apply{
    padding-left: 5px;
    width: 20%;
}
.list-table tr.odd{
    background: #F9F9F9
}
.list-table tr.even{
    background: #F4FFFF
}
.list-table tr:hover{
    background: #00AEEF;
    color: #fff
}

.breadcrumb {
	     margin-bottom: 0px; 
}

.page_section.team {
    padding: 60px 0;
}